body {
  font-family: monospace;
}

/*.nav-item {
  padding:0 50px;
}*/

#main {
  background-image: url("https://c.wallhere.com/photos/45/4f/1564x1080_px_Code_coding_color_Codes_computer_Computer_Screen_CSS_HTML-1295509.jpg!d");
  height: 550px;
  margin-top: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#pic-header {
  background-color: white;
  max-width: 300px;
  max-height: auto;
  margin: 0 auto;
  text-align: center;
  border-radius: 5%;
  border: 1px solid grey;
}

#profile-pic {
  margin-top: 25px;
  border-radius: 50%;
  filter: grayscale(50%);
}

#icon-list {
  margin-bottom: 50px;
}

.fa-github, .fa-file-alt {
  color: black;
}

.da-body {
  margin-top: -35px;
  background-color: black;
}

#about-container, #projects-container{
  padding: 55px 0 0 0;
}

#about-line, .row {
  padding: 10px 0;
}

.close-right {
  text-align: right;
}

.portfolio-item {
  padding: 20px 0;
}

.card-img-top {
  width: 300px;
  height: 200px;
}

.modal-icons {
  margin: 0 auto;
  padding-right: 10px;
}
